@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>*@
            </hgroup>
        </div>
    </section>
}

<script src="~/scripts/jquery-1.8.2.min.js"></script>
<script charset="utf-8" src="/Scripts/component/skyExtend.js"></script>
<script charset="utf-8" src="/Scripts/component/skyComponent.js"></script>
<script>

    var selectCmp = new window.skyComponent.SelectCmp('/Home/GetNameList', null);
    var textPopupCmp = new window.skyComponent.TextPopupCmp();
    textPopupCmp.addConfirmCallBack(function (text) {
        alert(text);
    });
    textPopupCmp.addCancelCallBack(function () {
        //
    });

    $(function () {
        $('#div').append(selectCmp.getElement());
        $('#div').append(textPopupCmp.getElement());
    })
</script>

<div id="div">Test below</div>












